# You can keep your repository small and manageable with a .gitignore file.
# Prevent build artifacts, large binary files, and other large file types
# such as log files, media files, and executables from slowing down your workflow.
#
# If you need to keep large files in Bitbucket, consider introducing
# Git Large File Storage (Git LFS) as part of your workflow.
#
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# Learn more about Git LFS for large files:
#     https://www.atlassian.com/git/tutorials/git-lfs
**/.classpath
**/.project
**/.settings/
**/bin/
**/target/
**/.metadata
**/.recommenders
**/*.vpp.bak*
**/*.vpp.lck
**/Servers/
**/*.apk
**/*.iml
**/*.gradle
**/local.properties
**/.idea/workspace.xml
**/.idea/libraries
**/.DS_Store
**/build
**/captures
**/.externalNativeBuild
**/.idea/*
**/.gradle/*
**/gradlew
**/gradlew.bat
**/gradle/wrapper/gradle-wrapper.jar
**/gradle/wrapper/gradle-wrapper.properties
**/apk/*
**/app/debug
**/app/release
